*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   min-height: 100vh;
}

.box{
    padding: 2rem;
    border-radius: 5px;
    margin: 5px;
    background-color: aquamarine;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar{
    width: 100%;
    background-color: aquamarine;
height: 100px;
}
.footer{
    width: 100%;
    background-color: aquamarine;
height: 100px;
}
/* grid */
.container-1{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 50%;
}

